<app-divider>
    Placeholder Component
</app-divider>
<app-placeholder [header]="true" [lines]="3"></app-placeholder>

<app-divider>
    Segment Component
</app-divider>

<app-segment>
    <header>
    <i class="pdf file outline icon"></i>
    No documents for this customer.
    </header>

    <button class="ui primary button">
        Add document
    </button>
</app-segment>

<app-segment>
    <header>
    <i class="add icon"></i>
    Add a resource.
    </header>

    <button class="ui primary button">
    Click to Add.
    </button>
</app-segment>